// for desctop and mobile
.details {
    display: block;
    position: relative;
    margin: 10px;

    summary {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 16px;
        padding: 10px 15px;
        text-transform: lowercase;
        color: #fff;
        cursor: pointer;
        background-color: #146C43;
        border-radius: 5px;
        border: 2px solid #135f3b;
        user-select: none;
    }

    &__body {
        margin-top: 10px;
        right: 0;
    }

    &__list {
        min-width: 280px;
        padding-left: 0;
        padding: 0 20px;
    }

    &__group {
        padding: 0;
    }

    summary::-webkit-details-marker {
        display: none;
    }

    summary::after {
        content: '\25B6';
        margin-left: 10px;
    }

    &__item {
        font-size: 16px;
        list-style-type: none;
        
        &::first-letter {
            text-transform: uppercase;
        }

        & + & {
            margin-top: 20px;
            
            .details__group {
                margin-top: 20px;
                padding-top: 20px;
                border-top: 1px solid #C8BFBF;
            }
        }
    }
}
.details[open] > summary::after {
    transform: rotate(90deg);
}

// for desctop
.details:not(.details.details--mobile) {
    display: inline-block;

    summary {
        position: relative;
        padding: 15px 20px;
        font-size: 18px;
    }

    .details__body {
        position: absolute;
        margin-top: 20px;
    }

    .details__item {
        font-size: 18px;
    }
}

// for mobile 
.details.details--mobile {
    
    .details__body {
        left: 0;
        right: 100%;
    }
}