.measurement {
    
}

.row {
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-between;

    > * {
        flex: 1 1 0;
    }

    &--mobile {
        display: block;
    }
}