.info {

    p {
        font-size: 16px;

        &::first-letter {
            text-transform: uppercase;
        }
    }
}

.info.info--mobile {

    p {
        font-size: 14px;
    }
}