.preloader {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    &__body {
        padding: 20px;
    }

    &__images {
        display: inline-block;
        width: 256px;
        height: 256px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__text {
        margin-top: 20px;
    }
}

.preloader.preloader--mobile {

    .preloader__images {
        width: 156px;
        height: 156px;
    }
}